# LaTeX stuff
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.dvi
*-blx.bib
*.bcf
*.run.xml
hf2_bericht_ackermann_murray.pdf

# MATLAB
*.m~

# libreoffice stuff
*.ods#

# temp files
*.swp

# qti temp files
*.qti~

